{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="about-team-header about-team-header2">
<div class="container">
<div class="row">
<div class="col-sm-12 text-center">
<h1 class="text-uppercase">We Craft<br>Amazing Designs</h1>
<p>Best ever WordPress theme. Explore it yourself
<br>a fantastic design for your site and your business.</p>
</div>
</div>
</div>
</div>
<div class="progress-box padding-100">
<div class="container">
<div class="row">
<div class="col-sm-6">
<h4 class="custom-head text-uppercase">Some Facts About Polygon</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<p>Duis aute irure dolor in repre henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qu. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
<div class="col-sm-6">
<div class="progress_bar">
<div class="progress-item">
<span class="progress-ico pe-7s-note"></span>
<div class="content-item">
<small class="progress-label">HTML/CSS</small>
<div class="progress_bar_single"><span class="progress-value-bar" data-percentage-value="60" data-value="60" style="width: 60%;"> <span class="label_units">60%</span></span>
</div>
</div>
</div>
<div class="progress-item">
<span class="progress-ico pe-7s-mouse"></span>
<div class="content-item">
<small class="progress-label">PHOTOSHOP</small>
<div class="progress_bar_single"><span class="progress-value-bar" data-percentage-value="80" data-value="80" style="width: 80%;"> <span class="label_units">80%</span></span>
</div>
 </div>
</div>
<div class="progress-item">
<span class="progress-ico pe-7s-camera"></span>
<div class="content-item">
<small class="progress-label">PHOTOGRAPHY</small>
<div class="progress_bar_single"><span class="progress-value-bar" data-percentage-value="69" data-value="69" style="width: 69%;"> <span class="label_units">69%</span></span>
</div>
</div>
</div>
<div class="progress-item">
<span class="progress-ico pe-7s-pen"></span>
<div class="content-item">
<small class="progress-label">ILLUSTRATION</small>
<div class="progress_bar_single"><span class="progress-value-bar" data-percentage-value="96" data-value="96" style="width: 96%;"> <span class="label_units">96%</span></span>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="counter-white">
<div class="container">
<div class="row">
<div class="col-md-3 col-sm-3">
<div class="counter-item text-uppercase text-center">
<h3 class="counter">134</h3>
<h5>Projects</h5>
</div>
</div>
<div class="col-md-3 col-sm-3">
<div class="counter-item text-uppercase text-center">
<h3 class="counter">289</h3>
<h5>Coffee Cups</h5>
</div>
</div>
<div class="col-md-3 col-sm-3">
<div class="counter-item text-uppercase text-center">
<h3 class="counter">12</h3>
<h5>Awards</h5>
</div>
</div>
<div class="col-md-3 col-sm-3">
<div class="counter-item text-uppercase text-center">
<h3 class="counter">520</h3>
<h5>Customers</h5>
</div>
</div>
</div>
</div>
</div>

<div class="padding-100">
<div class="container">
<div class="content-head text-center">
<h1>Meet Our Team</h1>
<p>The success of an organization depends on the staffs, on how much
<br>they love their job and willing to dedicate.</p>
</div>
</div>
</div>
<div class="team-element">
<div class="container-fluid no-padding">
<div class="col-md-3 col-sm-6 no-padding">
<div class="team-staff">
<img src="images/team/portrait-garber-b.jpg" class="img-responsive" alt="">
<div class="team-overlay">
<div class="team-overlay-inner text-center">
<h4>CASEY STEVEN 5 <span>Designer</span></h4>
<p>The European languages are members of the same family. Their separate existence is a myth. The languages only differ in their.</p>
<div class="team-social">
<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
<a href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 no-padding">
<div class="team-staff">
<img src="images/team/portrait_eric_f.jpg" class="img-responsive" alt="">
<div class="team-overlay">
<div class="team-overlay-inner text-center">
<h4>CASEY STEVEN 5 <span>Designer</span></h4>
<p>The European languages are members of the same family. Their separate existence is a myth. The languages only differ in their.</p>
<div class="team-social">
<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
<a href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 no-padding">
<div class="team-staff">
<img src="images/team/portrait-garber-b.jpg" class="img-responsive" alt="">
<div class="team-overlay">
<div class="team-overlay-inner text-center">
<h4>CASEY STEVEN 5 <span>Designer</span></h4>
<p>The European languages are members of the same family. Their separate existence is a myth. The languages only differ in their.</p>
<div class="team-social">
<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
<a href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6 no-padding">
<div class="team-staff">
<img src="images/team/portrait_eric_f.jpg" class="img-responsive" alt="">
<div class="team-overlay">
<div class="team-overlay-inner text-center">
<h4>CASEY STEVEN 5 <span>Designer</span></h4>
<p>The European languages are members of the same family. Their separate existence is a myth. The languages only differ in their.</p>
<div class="team-social">
<a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
<a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
<a href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="page-content about-icon-box padding-100 padding-bottom-50">
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="icon-box1">
<i class="pe-7s-config"></i>
<h3>Fully Customizible</h3>
<p>Your site will be easily found across all search engines. Free change and transform every aspect of design using preview for monitoring your changes.</p>
</div>
</div>
<div class="col-md-4">
<div class="icon-box1">
<i class="pe-7s-monitor"></i>
<h3>Retina Ready</h3>
<p>Polygon looks stunning on devices with high density retina screens. No matter where you are, just a wifi connected smartphone, tablet, you can get on.</p>
</div>
</div>
<div class="col-md-4">
<div class="icon-box1">
<i class="pe-7s-target"></i>
<h3>Seo Optimized</h3>
<p>Our theme is bundled with the top - selling set of SEO service & Web Designer Icons. We update our SEO theme regularly, improve it and add more value.</p>
</div>
</div>
</div>
<div class="row">
<div class="col-md-4">
<div class="icon-box1">
<i class="pe-7s-phone"></i>
<h3>One Click Demo</h3>
<p>Choose demo you want and import any with just one click. Now it is much easier for you to build your websites within seconds.</p>
</div>
</div>
<div class="col-md-4">
<div class="icon-box1">
<i class="pe-7s-headphones"></i>
<h3>Advanced Support</h3>
<p>You hit a bump and don't know how to solve it?. Don't worry, our engineers always deliver you the best service by our incredible back up.</p>
</div>
</div>
<div class="col-md-4">
<div class="icon-box1">
<i class="pe-7s-rocket"></i>
<h3>Intuitive To Use</h3>
<p>Even you are a professional in IT or an amateur, Polygon WordPress theme design allows you to use it easily and effectively to serve your business.</p>
</div>
</div>
</div>
</div>
</div>


<div class="sub-header">
<div class="container text-center">
<h1>We've Worked With</h1>
<p>The Polygon theme employs the world's best designers to elevate
<br> your business website to the next level.
</p>
</div>
</div>


<div class="client-testimonials">
<div class="container text-center">
<div class="testimonials-carousel-nav">
<div>
<img class="img-responsive center-block" src="images/quotes/1/1.png" alt="">
</div>
<div>
<img class="img-responsive center-block" src="images/quotes/1/2.png" alt="">
</div>
<div>
<img class="img-responsive center-block" src="images/quotes/1/3.png" alt="">
</div>
<div>
<img class="img-responsive center-block" src="images/quotes/1/4.png" alt="">
</div>
<div>
<img class="img-responsive center-block" src="images/quotes/1/5.png" alt="">
</div>
<div>
<img class="img-responsive center-block" src="images/quotes/1/3.png" alt="">
</div>
</div>
<div class="text-center img-sep"><img src="images/line.jpg" class="center-block" alt="line" height="60" width="1"></div>
<div class="testimonials-carousel">
<div>
<div class="testimonial-text">
<p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
<img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
<cite>MR. MARK<span>CEO</span></cite>
</div>
</div>
<div>
<div class="testimonial-text">
<p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
<img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
<cite>MR. MARK<span>CEO</span></cite>
</div>
</div>
<div>
<div class="testimonial-text">
<p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
<img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
<cite>MR. MARK<span>CEO</span></cite>
</div>
</div>
<div>
<div class="testimonial-text">
<p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
 <img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
<cite>MR. MARK<span>CEO</span></cite>
</div>
</div>
<div>
<div class="testimonial-text">
<p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
<img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
<cite>MR. MARK<span>CEO</span></cite>
</div>
</div>
<div>
<div class="testimonial-text">
<p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
<img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
<cite>MR. MARK<span>CEO</span></cite>
</div>
</div>
</div>
</div>
</div>
<div class="cta-box ">
<div class="container">
<div class="row">
<div class="col-sm-8">
<h3>Find out more about <span class="highlight">Polygon</span> theme?</h3>
</div>
<div class="col-sm-4">
<a class="bttn pull-right" href="#"><span>Join us Now</span></a>
</div>
</div>
</div>
</div>

{% endblock %}