{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="about-team-header about-team-header2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-uppercase">We Craft<br>Amazing Designs</h1>
                    <p>Best ever WordPress theme. Explore it yourself
                        <br>a fantastic design for your site and your business.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="progress-box padding-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {{ aboutInfo.about_info | safe }}
                </div>
                <div class="col-sm-6">
                    <div class="progress_bar">
                        <div class="progress-item">
                            <span class="progress-ico pe-7s-note"></span>
                            <div class="content-item">
                                <small class="progress-label">{{ aboutInfo.slider1_text }}</small>
                                <div class="progress_bar_single"><span class="progress-value-bar" data-percentage-value="{{ aboutInfo.slider1_num }}" data-value="{{ aboutInfo.slider1_num }}" style="width: {{ aboutInfo.slider1_num }}%;"> <span class="label_units">{{ aboutInfo.slider1_num }}%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-item">
                            <span class="progress-ico pe-7s-mouse"></span>
                            <div class="content-item">
                                <small class="progress-label">{{ aboutInfo.slider2_text }}</small>
                                <div class="progress_bar_single"><span class="progress-value-bar" data-percentage-value="{{ aboutInfo.slider2_num }}" data-value="{{ aboutInfo.slider2_num }}" style="width: {{ aboutInfo.slider2_num }}%;"> <span class="label_units">{{ aboutInfo.slider2_num }}%</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="progress-item">
                            <span class="progress-ico pe-7s-camera"></span>
                           <div class="content-item">
                                <small class="progress-label">{{ aboutInfo.slider3_text }}</small>
                                <div class="progress_bar_single"><span class="progress-value-bar" data-percentage-value="{{ aboutInfo.slider3_num }}" data-value="{{ aboutInfo.slider3_num }}" style="width: {{ aboutInfo.slider3_num }}%;"> <span class="label_units">{{ aboutInfo.slider3_num }}%</span></span>
                                </div>
                           </div>
                        </div>
                        <div class="progress-item">
                            <span class="progress-ico pe-7s-pen"></span>
                           <div class="content-item">
                                <small class="progress-label">{{ aboutInfo.slider4_text }}</small>
                                <div class="progress_bar_single"><span class="progress-value-bar" data-percentage-value="{{ aboutInfo.slider4_num }}" data-value="{{ aboutInfo.slider4_num }}" style="width: {{ aboutInfo.slider4_num }}%;"> <span class="label_units">{{ aboutInfo.slider4_num }}%</span></span>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="counter-white">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="counter-item text-uppercase text-center">
                        <h3 class="counter">500</h3>
                        <h5>Нам доверяют</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="counter-item text-uppercase text-center">
                        <h3 class="counter">70</h3>
                        <h5>Наши проекты</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="counter-item text-uppercase text-center">
                        <h3 class="counter">1000</h3>
                        <h5>Жалобы в Черном Списке</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="counter-item text-uppercase text-center">
                        <h3 class="counter">50</h3>
                        <h5>Наши партнеры</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="padding-100">
        <div class="container">
            <div class="content-head text-center">
                <h1>Наша команда</h1>
            </div>
        </div>
    </div>
    <div class="team-element">
        <div class="container-fluid no-padding">
            <div class="col-md-3 col-sm-6 no-padding">
                <div class="team-staff">
                    <img src="{% static 'images/t1.jpg' %}" class="img-responsive" alt="">
                    <div class="team-overlay">
                        <div class="team-overlay-inner text-center">
                            <h4>Lorem ipsum dolor.<span>Designer</span></h4>
                            <p>Lorem ipsum dolor.</p>
                            <div class="team-social">
                                <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 no-padding">
                <div class="team-staff">
                    <img src="{% static 'images/t2.jpg' %}" class="img-responsive" alt="">
                    <div class="team-overlay">
                        <div class="team-overlay-inner text-center">
                            <h4>Lorem ipsum dolor.<span>Designer</span></h4>
                            <p>Lorem ipsum dolor.</p>
                            <div class="team-social">
                                <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 no-padding">
                <div class="team-staff">
                    <img src="{% static 'images/t3.jpg' %}" class="img-responsive" alt="">
                    <div class="team-overlay">
                        <div class="team-overlay-inner text-center">
                            <h4>Lorem ipsum dolor.<span>Designer</span></h4>
                            <p>Lorem ipsum dolor.</p>
                            <div class="team-social">
                                <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 no-padding">
                <div class="team-staff">
                    <img src="{% static 'images/t4.jpg' %}" class="img-responsive" alt="">
                    <div class="team-overlay">
                        <div class="team-overlay-inner text-center">
                            <h4>Lorem ipsum dolor.<span>Designer</span></h4>
                            <p>Lorem ipsum dolor.</p>
                            <div class="team-social">
                                <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                                <a href="https://pinterest.com/"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="page-content padding-100 padding-bottom-50">
        <div class="container">
            <div class="row md-reset-border surjithctly-icon-type3 ">
                <div class="col-sm-4 text-center">
                    <div class="vc_icon_element vc_icon_element-align-center">
                        <div class="vc_icon_element-inner"><span class="vc_icon_element-icon pe-7s-rocket"></span></div>
                    </div>
                    <h4>Мы работаем 24/7</h4>
                    <p style="text-align: center;">круглосуточная поддержка для всех</p>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="vc_icon_element vc_icon_element-align-center">
                        <div class="vc_icon_element-inner"><span class="vc_icon_element-icon pe-7s-target"></span></div>
                    </div>
                    <h4>Регистрация с любого устройства</h4>
                    <p style="text-align: center;">поддерживаем открытые отношения с клиентами</p>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="vc_icon_element vc_icon_element-align-center">
                        <div class="vc_icon_element-inner"><span class="vc_icon_element-icon pe-7s-monitor"></span></div>
                    </div>
                    <h4>Готовые Решения</h4>
                    <p style="text-align: center;">акеты готовых предложений для различных сфер деятельности</p>
                </div>
            </div>
            <hr>
            <div class="row md-reset-border surjithctly-icon-type3 ">
                <div class="col-sm-4 text-center">
                    <div class="vc_icon_element vc_icon_element-align-center">
                        <div class="vc_icon_element-inner"><span class="vc_icon_element-icon pe-7s-rocket"></span></div>
                    </div>
                    <h4>Гибкость и оперативность</h4>
                    <p style="text-align: center;">гибкость реагирования на изменения в программе, реализации проектов в сжатые сроки</p>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="vc_icon_element vc_icon_element-align-center">
                        <div class="vc_icon_element-inner"><span class="vc_icon_element-icon pe-7s-target"></span></div>
                    </div>
                    <h4>Индивидуальность</h4>
                    <p style="text-align: center;">креативный подход к реализации проектов, что гарантированно заинтересует целевую аудиторию</p>
                </div>
                <div class="col-sm-4 text-center">
                    <div class="vc_icon_element vc_icon_element-align-center">
                        <div class="vc_icon_element-inner"><span class="vc_icon_element-icon pe-7s-monitor"></span></div>
                    </div>
                    <h4>Креативность</h4>
                    <p style="text-align: center;">креативный подход к реализации проектов, что гарантированно заинтересует целевую аудиторию</p>
                </div>
                 <div class="col-sm-4 text-center">
                    <div class="vc_icon_element vc_icon_element-align-center">
                        <div class="vc_icon_element-inner"><span class="vc_icon_element-icon pe-7s-monitor"></span></div>
                    </div>
                    <h4>Профессионализм</h4>
                    <p style="text-align: center;">профессионализм в разработке и провидении рекламных компаний и промо-акций</p>
                </div>
                 <div class="col-sm-4 text-center">
                    <div class="vc_icon_element vc_icon_element-align-center">
                        <div class="vc_icon_element-inner"><span class="vc_icon_element-icon pe-7s-monitor"></span></div>
                    </div>
                    <h4>Кредитование и ресурсы</h4>
                    <p style="text-align: center;">возможность кредитовать проекты и наличие тех. ресурсов способны стимулировать сбыт за счет увеличения спроса целевой аудитории на успех</p>
                </div>
                 <div class="col-sm-4 text-center">
                    <div class="vc_icon_element vc_icon_element-align-center">
                        <div class="vc_icon_element-inner"><span class="vc_icon_element-icon pe-7s-monitor"></span></div>
                    </div>
                    <h4>Мы - Команда</h4>
                    <p style="text-align: center;">
Наша команда, в зависимости от уровня задач и масштабов планируемой разработки, выбирает наиболее эффективные методы разработки кода малым и большим количественным составом программистов.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-header">
        <div class="container text-center">
            <h1>Наши партнеры</h1>

        </div>
    </div>


    <div class="client-testimonials">
        <div class="container text-center">
            <div class="testimonials-carousel-nav">
                <div>
                    <img class="img-responsive center-block" src="{% static 'images/quotes/1/1.png' %}" alt="">
                </div>
                <div>
                    <img class="img-responsive center-block" src="{% static 'images/quotes/1/2.png' %}" alt="">
                </div>
                <div>
                    <img class="img-responsive center-block" src="{% static 'images/quotes/1/3.png' %}" alt="">
                </div>
                <div>
                    <img class="img-responsive center-block" src="{% static 'images/quotes/1/4.png' %}" alt="">
                </div>
                <div>
                    <img class="img-responsive center-block" src="{% static 'images/quotes/1/5.png' %}" alt="">
                </div>
                <div>
                    <img class="img-responsive center-block" src="{% static 'images/quotes/1/5.png' %}" alt="">
                </div>
            </div>
            <div class="text-center img-sep"><img src="{% static 'images/line.jpg' %}" class="center-block" alt="line" height="60" width="1"></div>
            <div class="testimonials-carousel">
                <div>
                    <div class="testimonial-text">
                        <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
                        <img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
                        <cite>MR. MARK<span>CEO</span></cite>
                    </div>
                </div>
                <div>
                    <div class="testimonial-text">
                        <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
                        <img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
                        <cite>MR. MARK<span>CEO</span></cite>
                    </div>
                </div>
                <div>
                    <div class="testimonial-text">
                        <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
                        <img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
                        <cite>MR. MARK<span>CEO</span></cite>
                    </div>
                </div>
                <div>
                    <div class="testimonial-text">
                        <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
                        <img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
                        <cite>MR. MARK<span>CEO</span></cite>
                    </div>
                </div>
                <div>
                    <div class="testimonial-text">
                        <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
                        <img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
                        <cite>MR. MARK<span>CEO</span></cite>
                    </div>
                </div>
                <div>
                    <div class="testimonial-text">
                        <p>Really great theme, many design features and options. Theme support is 100%. Great customer support and assistance. I highly recommend it.</p>
                        <img src="images/other/author2.png" class="center-block" alt="" height="60" width="60">
                        <cite>MR. MARK<span>CEO</span></cite>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}