{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="big-title">
        <div class="container container-full">
            <div class="row">
                <div class="col-md-6 text-uppercase">
                    <h1>Текстовые объявления</h1>
                </div>
                <div class="col-md-6">
                    <ul class="bread_crumb pull-right">
                        <li><a href="/">Главная</a></li>
                        <li>Инвесторы и тренды</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="content" class="site-content shop-content">
        <div class="container">
            <div class="row">
                <div style="border-right: 1px solid #cecece
                ;" class="col-md-6">
                    <h3 style="margin-bottom: 20px">Инвесторы</h3>
                    <div class="row">
                        {% for investor in investor_all %}
                            <div class="col-md-6 col-sm-6 product type-product sale instock">
                            <div class="image-product-contain">
{#                                <span class="onsale">Sale!</span>#}
                                <img src="{{ investor.image.url }}" class="img-responsive" alt="" />
{#                                <a href="shop-cart.html" class="bttn add_to_cart_button"><span class="pe-7s-shopbag"></span></a>#}
                                <a style="left: 110px" href="" class="prettyPhoto bttn bttn-view-detail skin-fill-blue"><span class="pe-7s-search"></span></a>
                                <h6 class="text-uppercase">Подробнее</h6>
                            </div>
                            <div class="container woo-content-product">
                                <div class="row">
                                    <div class="col-xs-12 center">
                                        <a href="">
                                            <h5>{{ investor.name }}</h5>
                                        </a>
                                    </div>
                                    <div class="col-xs-12 center">
                                        {{ investor.short_description | safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
                <div class="col-md-6">
                    <h3 style="margin-bottom: 20px">Тендеры</h3>
                     <div class="row">
                         {% for tender in tender_all %}
                            <div class="col-md-6 col-sm-6 product type-product sale instock">
                            <div class="image-product-contain">
{#                                <span class="onsale">Sale!</span>#}
                                <img src="{{ tender.image.url }}" class="img-responsive" alt="" />
{#                                <a href="shop-cart.html" class="bttn add_to_cart_button"><span class="pe-7s-shopbag"></span></a>#}
                                <a style="left: 110px" href="" class="prettyPhoto bttn bttn-view-detail skin-fill-blue"><span class="pe-7s-search"></span></a>
                                <h6 class="text-uppercase">Подробнее</h6>
                            </div>
                            <div class="container woo-content-product">
                                <div class="row">
                                    <div class="col-xs-12 center">
                                        <a href="">
                                            <h5>{{ tender.name }}</h5>
                                        </a>
                                    </div>
                                    <div class="col-xs-12 center">
                                        <div><b>{{ tender.price }} <i class="fa fa-rub"></i></b>
                                        {{ tender.short_description | safe }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         {% endfor %}

                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}