{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="big-title">
        <div class="container container-full">
            <div class="row">
                <div class="col-md-6 text-uppercase">
                    <h1>Профиль пользователя</h1>
                </div>
                <div class="col-md-6">
                    <ul class="bread_crumb pull-right">
                        <li><a href="/">Главная</a></li>
                        <li>Профиль пользователя</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="site-content single">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <article class="project type-project">
                            <div class="blog-entry-content">
                                <div class="row">
                                    <div class="col-sm-12">

                                        <a href="#" ><img src=" {{ company.get_company_avatar }}" class="img-responsive" alt="" /></a>
                                    </div>
                                </div>
                                <div class="space-top-35"></div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="portfolio-metadata">
                                            <div>
                                                <h5 class="text-uppercase">Дата регистрации</h5>
                                                <span class="metadata">{{ company.created_at | date }}</span>
                                            </div>
                                            <div>
                                                <h5 class="text-uppercase">Представитель</h5>
                                                <span class="metadata">{{ company.user.name }}</span>
                                            </div>
                                            <div>
                                                <h5 class="text-uppercase">Сайт</h5>
                                                <span class="metadata"><a href="http://{{ company.site }}" rel="tag">{{ company.site }}</a></span>
                                            </div>


                                            {% if company.fb or company.inst or company.vk or company.ok or company.yt%}
                                                <div>
                                                    <h5 class="text-uppercase">НА связи</h5>
                                                    <div class="metadata">
                                                        {% if company.fb %}
                                                            <span><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></span>
                                                        {% endif %}
                                                        {% if company.vk %}
                                                            <span><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-vk"></i></a></span>
                                                        {% endif %}

                                                        {% if company.inst %}
                                                            <span><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-instagram"></i></a></span>
                                                        {% endif %}

                                                        {% if company.ok %}
                                                            <span><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-ok"></i></a></span>
                                                        {% endif %}

                                                        {% if company.yt %}
                                                            <span><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-youtube"></i></a></span>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {% endif %}



                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div>
                                            <h4 class="text-uppercase">Описание организации</h4>
                                            <div class="space-bottom-20"></div>
                                            <div>
                                                <div>
                                                    {{ company.description | safe }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </article>
                        <hr>
                         <div class="related-projects">
                            <h4 class="related-projects-title text-center">Размещенные текстовые объявления</h4>
                            <div class="row">
                                {% for ad in all_text_ad %}
                                  <div class="col-md-3 col-sm-4 text-center">
                                    <a href="{% url 'text_ad' ad.name_slug %}">
                                        <div class="project-thumb">
                                            <img src="{{ ad.image.url }}" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                    <h5 class="project-title"><a href="{% url 'text_ad' ad.name_slug %}">{{ ad.name }}</a></h5>
 <span>{{ ad.views }} просмотров</span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="related-projects">
                            <h4 class="related-projects-title text-center">Размещенные видео объявления</h4>
                            <div class="row">
                                              {% for ad in all_video_ad %}
                                  <div class="col-md-3 col-sm-4 text-center">
                                    <a href="{% url 'video_ad' ad.name_slug %}">
                                        <div class="project-thumb">
                                            <img src="{{ ad.image.url }}" class="img-responsive" alt="">
                                        </div>
                                    </a>
                                    <h5 class="project-title"><a href="{% url 'video_ad' ad.name_slug %}">{{ ad.name }}</a></h5>
                                  <span>{{ ad.views }} просмотров</span>

                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}