{% extends 'basic.html' %}
{% load static %}

{% block content %}
 <div class="big-title">
  <div class="container container-full">
   <div class="row">
    <div class="col-md-6 text-uppercase">
     <h1>Регистрация</h1>
    </div>
    <div class="col-md-6">
     <ul class="bread_crumb pull-right">
      <li><a href="#">Главная</a></li>
      <li>Регистрация</li>
     </ul>
    </div>
   </div>
  </div>
 </div>


 <div class="page-content">
  <div class="container">
   <div class="text-center">
    <h4 class="custom-head text-uppercase">Текст</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in repre henderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qu. consectetur adipiscing elit, sed do eiusmod</p>
   </div>
   <br>
   <div class="col-sm-8 col-lg-offset-2 col-lg-8 col-md-12">
    <form action="" method="post" class="contact-form">{% csrf_token %}
     <div class="row">
      <div class="col-md-6">
       <input type="text" name="{{ form.name.name }}" required placeholder="Ваше фио *">
      </div>
      <div class="col-md-6">
       <input type="email" name="{{ form.email.name }}" required placeholder="Email *">
      </div>
         <div class="col-md-12">
       <input type="text" name="{{ form.organization_name.name }}" required placeholder="Название организации *">
      </div>
     </div>
         <div class="row">
      <div class="col-md-6">
       <input type="password" name="{{ form.password1.name }}" required placeholder="Пароль">
      </div>
      <div class="col-md-6">
       <input type="password" name="{{ form.password2.name }}" required placeholder="Повторите пароль">
      </div>
     </div>

     <div class="row">
      <div class="col-md-12 text-center">
       <button type="submit" style="margin-bottom: 10px">Регистрация</button>
          <a href="{% url 'login' %}">Есть аккаунт?</a>
      </div>
     </div>
     <div class="">
    {% if messages %}
                    {% for message in messages %}
                        <div class="login-form-error">
                            <p>{{ message }}</p>
                        </div>

                    {% endfor %}
                {% endif %}
     </div>
    </form>
   </div>
  </div>
 </div>

{% endblock %}