{% extends 'basic.html' %}
{% load static %}

{% block content %}
<div class="big-title">
<div class="container container-full">
<div class="row">
<div class="col-md-6 text-uppercase">
<h1>BLog - Single</h1>
</div>
<div class="col-md-6">
<ul class="bread_crumb pull-right">
<li><a href="#">Home</a></li>
<li>Blog - Single</li>
</ul>
</div>
</div>
</div>
</div>


<div id="content" class="site-content single-post">
<div class="container">
<div class="row">
<div class="col-md-9">
<div class="content">
<article class="post type-post blog-entry">
<div class="blog-entry-content">
<div class="post-video">
<div class="fluid-width-video-wrapper">
<iframe src="https://player.vimeo.com/video/37102493"></iframe>
</div>
</div>
<div class="blog-entry-meta">
<span class="categories-links">
<i class="fa fa-clock-o"></i>
August 21, 2015</span>
<span class="author vcard"><i class="fa fa-user"></i> admin</span>
<span class="categories-links"><i class="fa fa-folder-open"></i><a href="blog.html" rel="category tag">Business</a> </span>
<span class="comments-counts"><i class="fa fa-comment"></i>0 comment</span>
<span><a href="#" class="jm-post-like" data-post_id="423" title="Like"><i id="icon-unlike" class="icon-unlike"></i>&nbsp;Like</a></span>
</div>
<hr>
<h3 class="blog-entry-title">Video</h3>
<div class="blog-entry-content">
<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
<blockquote>
<p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn't listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
</blockquote>
<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradise matic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn't listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road.</p>
</div>
<div class="blog-entry-footer">
<div class="row middle">
<div class="col-sm-12">
<div class="tags">
<h5>Tags</h5>
<a href="blog.html" rel="tag">what</a>
<a href="blog.html" rel="tag">when</a>
<a href="blog.html" rel="tag">why</a>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-12">
<div class="share">
<h5>Share</h5>
<span><a href="#"><i class="fa fa-facebook"></i></a></span>
<span><a href="#"><i class="fa fa-twitter"></i></a></span>
<span><a href="#"><i class="fa fa-google-plus"></i></a></span>
</div>
</div>
</div>
</div>
<div class="author-info">
<div class="author-avatar">
<img src="images/other/author3.jpg" width="100" height="100" alt="" class="avatar photo avatar-default">
</div>
<div class="author-desc">
<div class="author-name">
<a href="#">
admin </a>
</div>
<div class="author-text">
Christian man, better known as a creative USA web designer, digital author, technologist, founder of Digital Creative.
</div>
<div class="author-email">
<a class="link" href="https://demo.web3canvas.com/cdn-cgi/l/email-protection#b2d3d6dfdbdcf2d5dfd3dbde9cd1dddf">
<span class="__cf_email__" data-cfemail="ef8e8b828681af88828e8683c18c8082">[email&#160;protected]</span> </a>
</div>
</div>
</div>
 <nav class="navigation post-navigation">
<h2 class="screen-reader-text">Post navigation</h2>
<div class="nav-links">
<div class="nav-previous"><a href="blog-single-gallery.html" rel="prev">Gallery</a></div>
<div class="nav-next"><a href="blog-single-video.html" rel="next">Video</a></div>
</div>
</nav>
<div id="comments" class="comments-area">
<div id="respond" class="comment-respond">
<h3 id="reply-title" class="comment-reply-title">Write a Comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="https://demo.web3canvas.com/what-make-a-brand-success-video/#respond" style="display:none;">Cancel reply</a></small></h3>
<form id="commentform" class="comment-form">
<div class="col-md-6">
<p class="comment-form-author">
<input id="author" placeholder="Your name (required)" name="author" type="text" value="" size="30" aria-required="true">
</p>
</div>
<div class="col-md-6">
<p class="comment-form-email">
<input id="email" placeholder="Your e-mail (required)" name="email" type="text" value="" size="30" aria-required="true">
</p>
</div>
<div class="col-md-12">
<p class="comment-form-comment">
<textarea id="comment" placeholder="Your comment (required)" name="comment" aria-required="true"></textarea>
</p>
</div>
<p class="form-submit">
<input name="submit" type="submit" id="submit" class="submit bttn medium" value="Submit">
<input type="hidden" name="comment_post_ID" value="423" id="comment_post_ID">
<input type="hidden" name="comment_parent" id="comment_parent" value="0">
</p>
</form>
</div>
</div>
</div>
</article>
</div>
</div>
<div class="sidebar-contain col-md-3">
<aside class="sidebar">
<aside class="widget widget_recent_entries">
<h5 class="widget-title">Recent Posts</h5>
<ul>
<li>
<a href="blog-single-standard.html">Standard post</a>
</li>
<li>
<a href="blog-single-standard.html">How To Choose The Best Theme For My Business?</a>
</li>
<li>
<a href="blog-single-standard.html">What make a brand success?</a>
</li>
 <li>
<a href="blog-single-standard.html">New design trends</a>
</li>
<li>
<a href="blog-single-standard.html">Daily Inspiration</a>
</li>
</ul>
</aside>
<aside class="widget widget_categories">
<h5 class="widget-title">Categories</h5>
<ul>
<li class="cat-item"><a href="blog.html">Anything</a></li>
<li class="cat-item"><a href="blog.html">Business</a></li>
<li class="cat-item"><a href="blog.html">News</a></li>
</ul>
</aside>
<aside class="widget widget_archive">
<h5 class="widget-title">Archives</h5>
<label class="screen-reader-text">Archives</label>
<select>
<option value="">Select Month</option>
<option value=""> September 2015 </option>
<option value=""> August 2015 </option>
</select>
</aside>
<aside class="widget widget_tag_cloud">
<h5 class="widget-title">Tags</h5>
<div class="tagcloud">
<a href="blog.html">Animation</a>
<a href="blog.html">any</a>
<a href="blog.html">Awesome</a>
<a href="blog.html">Beauty</a>
<a href="blog.html">boss</a>
<a href="blog.html">Branding</a>
<a href="blog.html">current</a>
<a href="blog.html">Great</a>
<a href="blog.html">here</a>
<a href="blog.html">how to</a>
<a href="blog.html">more</a>
<a href="blog.html">now</a>
<a href="blog.html">Photography</a>
<a href="blog.html">Popular</a>
<a href="blog.html">success</a>
<a href="blog.html">Super</a>
<a href="blog.html">we are</a>
<a href="blog.html">Web Design</a>
<a href="blog.html">what</a>
<a href="blog.html">when</a>
<a href="blog.html">Where</a>
<a href="blog.html">why</a>
</div>
</aside>
</aside>
</div>
</div>
</div>
</div>

{% endblock %}