{% load static %}
<div class="footer-menu hidden-xs">
        <div class="container">
            <div class="row">
                <div class="text-center col-sm-12">
                    <div class="vc_wp_custommenu wpb_content_element home-custom-menu">
                        <div class="widget widget_nav_menu">
                            <div class="menu-custom-menu-container">
                                <ul id="menu-custom-menu" class="menu">
                                    <li class="menu-item"><a href="3.html">About</a></li>
                                    <li class="menu-item"><a href="#">Privacy</a></li>
                                    <li class="menu-item"><a href="#">Terms</a></li>
                                    <li class="menu-item"><a href="#">Legal</a></li>
                                    <li class="menu-item"><a href="#">Jobs</a></li>
                                    <li class="menu-item"><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright copyright-lite">
        <div class="container">
            <div class="row middle">
                <div class="col-md-12 text-center">
                    <ul id="menu-social" class="center-block">
                        <li><a href="https://www.facebook.com/surjithctly"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/surjithctly"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.pinterest.com/surjithctly/"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-12 text-center">
                    &copy; Polygon Theme by surjithctly. All Right Reserved 2015.
                </div>
            </div>
        </div>
    </div>

