{% load static %}
<div class="snap-drawers">
    <div class="snap-drawer snap-drawer-left">
        <div class="mobile-menu">
            <ul id="mobile-menu" class="menu">
                 <li class="menu-item ">
                                        <a href="/">ГЛАВНАЯ</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="{% url 'companies' %}">КОМПАНИИ</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="{% url 'video_ads' %}">ВИДЕО</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="{% url 'text_ads' %}">ОБЪЯВЛЕНИЯ </a>
                                    </li>
                                  <li class="menu-item ">
                                        <a href="{% url 'news_all' %}">НОВОСТИ</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="{% url 'blacklist_all' %}">ЧЕРНЫЙ СПИСОК</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="{% url 'about' %}">О НАС</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="{% url 'contact' %}">КОНТАКТЫ</a>
                                    </li>
                                    {% if  not request.user.is_authenticated %}
                                     <li class="menu-item ">
                                        <a href="{% url 'login' %}">ВХОД/РЕГИСТРАЦИЯ</a>
                                    </li>
                                    {% else %}
                                       <li class="menu-item ">
                                        <a href="{% url 'profile' %}">ПРОФИЛЬ</a>
                                    </li>
                                    {% endif %}




            </ul>
        </div>
    </div>
</div>

<div class="wrapper" id="wrapper">

    <header>
        <div class="container container-full">
            <div class="row">
                <div class="col-md-1 col-xs-10 logo logo-2">
                    <a href="/"><img height="60px" src="{% static 'images/logo_new.png' %}" alt="" /></a>
                </div>
                <div class="col-xs-2 hidden-md hidden-lg">
                    <i id="open-left" class="fa fa-navicon"></i>
                </div>
                <div class="col-md-11 hidden-xs hidden-sm">
                    <nav id="site-navigation" class="main-navigation hidden-xs hidden-sm">
                        <div>
                            <div class="search-cart hidden-xs hidden-sm pull-right">
                                <div class="search-box">
                                    <form class="search-form">
                                        <label>
                                            <span class="screen-reader-text">Search for:</span>
                                            <input type="search" class="search-field" placeholder="Search ..." value="">
                                        </label>
                                        <input type="submit" class="search-submit" value="Search">
                                    </form>
                                    <i class="pe-7s-search"></i>
                                </div>
                            </div>

                            <div class="primary-menu pull-right">
                                <ul id="primary-menu" class="menu">

                                    <li class="menu-item ">
                                        <a href="/">ГЛАВНАЯ</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="{% url 'companies' %}">КОМПАНИИ</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="{% url 'video_ads' %}">ВИДЕО</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="{% url 'text_ads' %}">ОБЪЯВЛЕНИЯ </a>
                                    </li>
{#                                  <li class="menu-item ">#}
{#                                        <a href="{% url 'news_all' %}">новости</a>#}
{#                                    </li>#}
{#                                 <li class="menu-item ">#}
{#                                        <a href="{% url 'blacklist_all' %}">ЧЕРНЫЙ СПИСОК</a>#}
{#                                    </li>#}
                                    <li class="menu-item ">
                                        <a href="{% url 'about' %}">О НАС</a>
                                    </li>
                                    <li class="menu-item ">
                                        <a href="{% url 'contact' %}">КОНТАКТЫ</a>
                                    </li>
                                    {% if  not request.user.is_authenticated %}
                                     <li class="menu-item ">
                                        <a href="{% url 'login' %}">Вход/Регистрация</a>
                                    </li>
                                    {% else %}
                                       <li class="menu-item ">
                                        <a href="{% url 'profile' %}">Профиль</a>
                                    </li>
                                    {% endif %}

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

